<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Imagen</th>
    <th scope="col">Producto</th>
    <th scope="col">Tipo</th>
    <th scope="col">Precio</th>
    <th scope="col">Stock</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row"><img [src]="oil.image" [alt]="oil.name"></td>
    <td scope="row" class="td-text">{{oil.name}}</td>
    <td scope="row" class="td-text">{{oil.type}}</td>
    <td scope="row" class="td-text">{{oil.price}}</td>
    <td scope="row" class="td-text">{{oil.stock}}</td>
  </tr>
  </tbody>
</table>

