<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Imagen</th>
    <th scope="col">Producto</th>
    <th scope="col">Tipo</th>
    <th scope="col">Precio</th>
    <th scope="col">Stock</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let oil of oils" [ngClass]="{'clearance': oil.clearance}">
    <td scope="row"><img [src]="oil.image" [alt]="oil.name"></td>
    <td scope="row" class="td-text">{{oil.name}}</td>
    <td scope="row" class="td-text">{{oil.type}}</td>
    <td scope="row" class="td-text">{{oil.price | currency}}</td>
    <td scope="row" class="td-text"><span class="badge badge-warning" *ngIf="oil.stock==0;else elseBlock">SIN STOCK</span></td>
    <ng-template #elseBlock>{{oil.stock}}</ng-template>
  </tr>
  </tbody>
</table>

